* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background: blueviolet;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    font-weight: 600;
    font-style: unset;
}

/* HEADER */
header {
    background: linear-gradient(to right, #0077b6, #00b4d8);
    color: white;
    text-align: center;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-weight: bold;
    text-underline-position: below;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-underline-position: below;
}

/* NAVIGATION */
nav {
    background-color: #03045e;
    padding: 15px;
    text-align: center;
    text-shadow: #333;
    text-size-adjust: initial;
    text-indent: 90px;
    
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 20px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd60a;
    text-decoration: underline;
}

/* SECTION STYLE */
section {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.01);
}

/* SUB HEADINGS */
section h2 {
    color: #0077b6;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
    text-underline-offset: inherit;

}

/* PARAGRAPHS */
p {
    margin-bottom: 10px;
    line-height: 1.7;
}

/* LISTS */
ul {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;

}

li {
    margin-bottom: 8px;
}

/* IMAGES */
img {
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    margin: 15px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* BUTTONS */
button, input[type="submit"] {
    background: linear-gradient(to right, #00b4d8, #0077b6);
    color: white;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover, input[type="submit"]:hover {
    background: linear-gradient(to right, #0077b6, #023e8a);
}

/* INPUTS */
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* FOOTER */
footer {
    background: linear-gradient(to right, #0077b6, #00b4d8);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
