* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: purple;
    color:white;
}
header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #023e8a;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}

main {
    padding: 20px;
}

section {
    background:black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 10px;
    color: white;
}


section ul {
    margin-top: 10px;
    padding-left: 20px;
}
form {
    margin-top: 15px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

form input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #023e8a;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0077b6;
    color: white;
    margin-top: 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    section {
        padding: 15px;
    }
}
